.Wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Content {
  padding: 50px;
  border: 1px solid #EAEAEA;
  width: 400px;
}

.Score-board {
	display: flex;
	margin-bottom: 16px;
}

.Score {
	flex: 1;
	text-align: center;
	font-size: 70px;
	margin: 0 20px;
}

.Score-dash {
	font-size: 70px;
}

.Score-buttons {
	position: fixed;
	right: 20px;
	top: 20px;
	text-align: center;
}

.White-ball {
	width:  9px;
	height: 9px;
	border: 1px solid #333;
	border-radius: 100%;
	margin: 2px;
}

.Red-ball {
	width: 10px;
	height: 10px;
	background-color: #f50057;
	border-radius: 100%;
	margin: 2px;
}

.Ball-container {
	display: flex;
}